{% extends 'visual/base.html' %}
{% block conteudo %}

<div class="offset-1 col-10 list-div">
    <h1 id="titulo">Editando cliente - {{cliente_edit.nome_cliente}}</h1>
    <form method="post" id="Cliente_Form">
        {% csrf_token %}
        <div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup-sizing-default">Nome do cliente</span>
            <input type="text" class="form-control" aria-label="Sizing example input"
                aria-describedby="inputGroup-sizing-default" id="nomeCliente" name="nome_cliente"
                value="{{cliente_edit.nome_cliente}}">
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup-sizing-default">Contato</span>
            <input type="text" class="form-control" aria-label="Sizing example input"
                aria-describedby="inputGroup-sizing-default" id="nomeCliente" name="contato"
                value="{{cliente_edit.contato}}">
        </div>

        <a href="/clientes"><button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                id="fecharModal">Voltar</button></a>
        <button type="submit" class="btn btn-primary">Editar</button>
    </form>
</div>

{% endblock %}